body{
    background-color: whitesmoke;
    color:black;
    margin: 0;
    padding: 0;
}
.hero{
     display: flex;
     justify-content: center;
}
.footer-bottom{
    display: flex;
    justify-content: center;
}